body{
  background-color: #1ABB9C;
border-color: #8B104E;
}

h1 {
  background: blue;
  border-style: double;
  border-color: black;
  font-family: 'Tangerine', cursive;
  font-size: 40px;
  align-items: center;
}

img{
  height:200px;
  width: 200px;
}
